<!DOCTYPE html>

<html>

<head>

    <title>welcome to our website</title>

</head>

<body>

    <h1>IT IS OUR OFFICIAL PAGE(handler and developer is ABISHEK)</h1>

    <hr>

    <h2>click below to visit our below pages</h2>
    <hr><hr>
    <a href="/user_statement">
    click here to enter our web application 
    </a>

    <br><br>
    
    
    <hr><hr>
    
    <br><br><br>

    <a href="/about">
    click here to read About Website
    </a>

    <br><br>

    <a href="/owner">
        About Owner
    </a>

    <br><br>

    <a href="/contact">
        Contact Us
    </a>
    <br><br><br>
    
    <hr><hr>
    <a href="/policy">
    privacy /policy
    </a>
    <br><br><br><br><br>
    <hr>
    <a href="banned">
    users interacted with abnormal activitys who were banned(currently 404) 
    </a>
</body>

</html>
