<!DOCTYPE html>
<html>
<head>
    <title>you or currently in our web application</title>
</head>
<body>

<h1 contenteditable="true">
    Edit this statement
</h1>

<form action="/user_statement" method="POST">

    <p>you had already an account?</p>

    <input type="radio" name="answer" value="Yes" required>
    <label>Yes</label>

    <br><br>

    <input type="radio" name="answer" value="No">
    <label>No</label>

    <br><br>

    <button type="submit">
        Submit
    </button>

</form>

</body>
</html>
